* {
    box-sizing: border-box;
    margin: 0;
 }


.banner img {
    display: block;
    max-width: 100%;
}

 header {
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     background-color: rgb(226, 117, 135);
     padding: 5px;
    
 }

 body {
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 10px;
     color: rgb(226, 117, 135);
     line-height: 15px;
 }

h2, h3, h4, h5 {
    color:turquoise;
    font-size: 12px;
    text-align: left;
}

h1 {
    font-size: 20px;
    font-weight: 900;
    font-family:monospace;
    padding: 5px;
    flex-wrap: wrap;
    color: turquoise;
}

.contact 
{
    padding:10px;
    text-align: center;
    align-content: flex-start;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

ol, ul {
    list-style: none;
}

nav a {
    color: rgb(173, 218, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    font-size: 8px;
    
}
nav a:hover {
    color:indigo;
  }


aside {
    float: right;
    width: 20%;
    line-height: 10px;
    margin-right: 5px;
    padding: 5px;
    text-align: right;
}

#AboutMe, #work, #ContactMe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    align-items: flex-start;
    justify-content: flex-start;

}

figure img {
    border-radius: 30%;
    padding: 0;
    display: block;
}
section {
    display:flex;
    border-bottom: 1px double rgb(114, 9, 70);
}

.photogrid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

#work {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px)
    header, #work {
        flex-direction: column;
    }
    

