* {
    box-sizing: border-box;
    margin: 0;
 }

 @media screen and (max-width: 768px)
header, main {
    flex-direction: column;
}

.banner img {
    display: block;
    max-width: 100%;
}

 header {
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     background-color: rgb(226, 117, 135);
     padding: 5px;
    
 }

 body {
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 14px;
     color: rgb(226, 117, 135);
 }
 
style{ 
    background: linear-gradient(to right, rgb(70, 17, 83), indianred,  rgb(226, 117, 135),  rgb(118, 207, 207));
 }



h1 {
    font-size: 20px;
    font-weight: 900;
    font-family:monospace;
    color: turquoise;
    padding: 5px;
    flex-wrap: wrap;
}

ul li {
    
    padding:10px;
    text-align: center;
    align-content: flex-start;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

ol, ul {
    list-style: none;
}

nav a {
    color: rgb(173, 218, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    font-size: 8px;
}
