css
* {
    box-sizing: border-box;
    margin: 0;
    line-height: 40px;  
}   

body {
    color: indianred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
} 

header {
    background-color: indianred;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;√
    overflow: hidden;
}

.banner img {
    display: inline-block;
    padding: 0px;
    margin-top: -30px;
    margin-left: -40px;
    width: 98vw;
    overflow: hidden;
}

header h1 {
    font-size: 200%;
    font-weight: 700;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(173, 218, 230);
    line-height: 125%;
}

#me img {
    border-radius: 30%;
    padding: 5px;
    height: auto;
    display: flex;
}

nav a {
    color: rgb(173, 218, 230);
    font-family: 'Courier New', Courier, monospace;
    font-size:120%;
    padding: 15px;
}

.topnav {
    float: right;
    display: flex;
}

.topnav a:hover {
    color:indigo;
  }

  ul {
      list-style: none;
  }

  h2, h3, h4, h5 {
    color:rgb(71, 221, 226);
    font-size: 180%;
    text-align: left;
    padding: 15px;
}

aside {
    float: right;
    width: 20%;
    line-height: 300%;
    font-size: 80%;
    color: rgb(71, 221, 226);
}


body figcaption {
    font-size: 70%;
    line-height: 100%;
    text-align: center;
    color: indigo;
    flex-wrap: wrap;
}

.card {
    display: inline-block;
    align-content: center;
    border-bottom: none;
}

.photogrid {
    display: flex;
}

#AboutMe, #ContactMe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    align-content: flex-end;
    padding: 20px;
    align-items: center;
    border-top: double indianred;
}

#Work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:10px;
    border-bottom: none;
    border-top: double indianred; 
}

.photogrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


media screen and (max-width: 768px) {
    #Work, #AboutMe, #ContactMe {
        flex-direction: column;
}
  
@media screen and (max-width: 768px) {
    header, .topnav {
        flex-direction: column;
    }


.card img.grow :hover {
    transform: scale(1.3);
}


